<script>

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek'
        });
        calendar.render();

        calendar.on('dateClick', function (info) {
            document.getElementById('test').innerHTML = info.dateStr;
            document.getElementById('genlink').setAttribute("href", `/cal?date=${info.dateStr}`);
        });
    });
</script>

<h1>Select date</h1>
<div id='calendar'></div>
<p>Selected date is: <span id="test"></span></p>
<a href="#" id="genlink">Generate calendar file</a>
